.drawer-width {
  animation-name: drawer-width-key;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes drawer-width-key {
  from {
    width: 0;
  }

  to {
    width: 25vw;
  }
}

.drawer-width-0 {
  animation-name: drawer-width-0-key;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes drawer-width-0-key {
  from {
    width: 25vw;
  }

  to {
    width: 0;
  }
}

.hidden * {
  display: none;
}
